<header>
	<div class="top_line">
		<div class="container">
			<nav class="navbar navbar-default">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="#">Главная</a></li>
			        <li><a href="#">Мониторинг</a></li>
			        <li><a href="#">Портфель</a></li>
			        <li><a href="#">Рефбек</a></li>
			        <li><a href="#">Контакты</a></li>
			        <li><a href="#">Статьи</a></li>
			        <li><a href="#">Обратная связь</a></li>
			      </ul>
				    <div class="registration">
				    	<a class="first" href="#">Войти</a> / <a href="#">Регистрация</a>
				    </div>
			    </div>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="logo">
			<a href="#"><img src="./image/logo.png"></a>
		</div>
		<div class="form1">
			<form>
				<input type="text" placeholder="Поиск по сайту  ...">
				<input type="submit" value="">
			</form>
			<p>Например: Business Angels Inc</p>
		</div>
	</div>
</header>